@model TMS.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class="form-control" asp-items="Html.GetEnumSelectList<Role>()" > <option> -- Select Role -- </option> </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>


          @*  <div class="form-group"> @Html.LabelFor(model => model.RoleName) @Html.DropDownListFor(model => model.RoleName, ViewBag.Roles as SelectList, "-- Select Role --", new { @class = "form-control" }) @Html.ValidationMessageFor(model => model.RoleName) </div>*@

            @*  <div class="form-group">
            <label asp-for="ManagerId" class="control-label"></label>
            <select asp-for="ManagerId" class ="form-control" asp-items="ViewBag.ManagerId"></select>
            </div>
            *@

           @* <div class="form-group">
                <label asp-for="ManagerId" class="control-label"></label>
                <input asp-for="ManagerId" class="form-control" />
                <span asp-validation-for="ManagerId" class="text-danger"></span>
            </div>*@

           @* <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                <select asp-for="ManagerId" class="form-control"  asp-items=ViewBag.ManagerId></select>
            </div>
*@

            <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                <select asp-for="Manager" class="form-control" asp-items="ViewBag.ManagerId"><option value="">-- Select Manager --</option></select>



            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
