@model TMS.Models.User

@{
    ViewData["Title"] = "Manager";
}

<h1> Manager DashBoard....</h1>

<li>

    @Html.ActionLink("View Request","IndexManager","Request") ;
     @Html.ActionLink("Logout","Logoutt","User") ;


</li>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}